import path from 'path';
import Deployer from 'sftp-deploy-js';

const deployer = new Deployer();

const config = {
	host: '10.10.10.10',
	port: '22',
	username: 'ftpdeploy',
	password: 'password123' || null, // if not specified, you can enter in the console
	// other options specified in https://github.com/theophilusx/ssh2-sftp-client#sec-4-2-2

	from: path.join('./dist'), // path on local
	to: '/var/www/app/',
	rmdir: true, // remove or not remove an existing directory on server with files
};

await deployer.init(config); // checks config and asks password
deployer.on('upload', console.log); // copies event from ssh2-sftp-client
let total = await deployer.deploy(); // returns the number of uploaded files
console.log(`Total files: ` + total);